<ul class="menu">
  {% for m in main_menu %}
    <li><a href="{% url m.href %}" class="{% if request.resolver_match.url_name == m.href %}
      active
      {% elif m.href == 'products:index' and request.resolver_match.namespace == 'products'%}
      active
    {% endif %}">{{ m.name }}</a></li>
  {% endfor %}
  {% if user.is_authenticated %}
<li>
    <a href="{% url 'auth:edit' %}">
        {{ user.first_name|default:'Пользователь' }}          
    </a>
</li>
{% endif %}  
{% if user.is_superuser %}
  <li>
    <a href="{% url 'admin:users' %}">админка</a>
  </li>
{% endif %}

<li>
    {% if user.is_authenticated %}
      <a href="{% url 'auth:logout' %}">выйти</a>
    {% else %}
      <a href="{% url 'auth:login' %}">войти</a>
    {% endif %}
</li>
</ul>
<a href="#" class="search"></a>
<a href="{% url 'basket:view' %}" class="basket">
  <span>
    {% if basket %} 
      {{ basket.0.total_cost|floatformat:0 }} руб 
      ({{ basket.0.total_quantity }} шт)
    {% endif %}
  </span>
</a>










